/* -- Centrer col -- */
.col-centered {
  float: none;
  margin: 0 auto;
}
.navbar .navbar-brand img {
  display: inline;
  width: 45px;
  position: relative;
  bottom: 13px;
}
.navbar .navbar-brand .nom {
  position: relative;
  bottom: 10px;
  left: 10px;
}
