/* -- Centrer col -- */
.col-centered {
    float: none;
    margin: 0 auto;
}
.navbar {
    text-transform: uppercase;
}
.navbar .navbar-brand img {
    display: inline;
    width: 45px;
    position: relative;
    bottom: 13px;
}
.navbar .navbar-brand .nom {
    position: relative;
    bottom: 10px;
    left: 10px;
}

/* Margin-top général */
.contenu {
    background: url("../images/bg.jpg") fixed center center / cover;
    margin-top: 50px;
}
/*Designer 3D */

.design {
    color: #ffffff;
}

.design img {
    width: 250px;
}

.design .photo{
    text-align: right;
}

.design .texte h3 {
    padding-top: 100px;
}

/* HOME */



/* FOOTER */
footer {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(248, 248, 248);
    border-top: 1px solid #e8e8e8;
}

footer .container .row .col-md-4 p i {
    font-size: 20px;
    padding-right: 5px;
}

.socials-footer {
    font-size: 25px;
}

.socials-footer:hover {
    list-style: none;
    text-decoration: none;
}

.fa-facebook-square {
    color : #3a5795;
}

.fa-facebook-square:hover {
    color : #4464a3;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-twitter-square:hover {
    color: #68b8f2;
}

.fa-youtube-square {
    color: #e62117;
}

.fa-youtube-square:hover {
    color: #ea3933;
}

.fa-linkedin-square {
    color: #0072ad;
}

.fa-linkedin-square:hover {
    color: #0e7bb2;
}




